.component {
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    display: block;
    font-size: 15px;
    width: 300px;
}

body {
    padding: 30px 0;
    text-align: center;
}

input {
    border: solid 2px black;
    font-size: 15px;
}

button {
    background: cornflowerblue;
    color: white;
    border: none;
}